header {
  background: #637C49;
  color: white;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}

a.nav:link {
 color: white;
}
a.nav:visited {
 color: white;
}
a.nav:hover {
 color: white;
}


body {
  background: #E0CBA8;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}

table {
  border: none;
  padding: 2px;
}

th {
  text-align: left;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  font-weight: bold;
}

td {
  text-align: left;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}

td.nav {
  color: white;
  text-align: left;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}

td.header {
  text-align: left;
  vertical-align: top;
  padding-left: 10px;
  padding-top: 2px;
  font-weight: bold;
  font-size: 120%;
}

.norm_r {
  text-align: right;
  vertical-align: top;
  padding-left: 10px;
  padding-top: 2px;
  font-size: 100%;
}

.head_1 {
  text-align: center;
  vertical-align: top;
  padding-left: 10px;
  padding-top: 2px;
  font-weight: bold;
  font-size: 180%;
}

.head_2 {
  text-align: left;
  vertical-align: top;
  padding-left: 10px;
  padding-top: 2px;
  font-weight: bold;
  font-size: 130%;
}

.head_3 {
  text-align: left;
  vertical-align: top;
  padding-left: 10px;
  padding-top: 2px;
  font-weight: bold;
  font-size: 100%;
}

.head_3_r {
  text-align: right;
  vertical-align: top;
  padding-left: 10px;
  padding-top: 2px;
  font-weight: bold;
  font-size: 100%;
}

td.col_1 {
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
  padding-bottom: 5px;
}

td.col_2 {
  text-align: left;
  vertical-align: top;
  padding-left: 10px;
  padding-bottom: 5px;
}

table table {
  border: none;
  padding: 0px;
}

table table td {
  text-align: right;
  padding-bottom: 0px;
}

.footer {
  text-align: center;
  font-size: 80%;
}

.error {
  font-weight: bold;
  font-size: 140%;
  color: red;
}

.message {
  text-align: center;
  font-size: 140%;
  font-weight: bold;
  color: #112200;
}

.login {
  font-style: italic;
}

form label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

td.label {
  font-weight: bold;
}

input, select, textarea, option {
  font-size: 90%;
}

input[type=submit] {
  background: #ACAEAF;
  font-size: 100%;
  font-weight: bold;
}

img.profile {
  vertical-align: top;
}
